[submodule "laravel-todolist"]
	path = laravel-todolist
	url = git@github.com:DaudHidayatR/laravel-todolist.git
[submodule "laravel-logging"]
	path = laravel-logging
	url = git@github.com:DaudHidayatR/laravel-logging.git
[submodule "belajar-laravel-blade-template"]
	path = belajar-laravel-blade-template
	url = git@github.com:DaudHidayatR/belajar-laravel-blade-template.git
[submodule "belajar-laravel-collection"]
	path = belajar-laravel-collection
	url = git@github.com:DaudHidayatR/belajar-laravel-collection.git
